<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout"
>
<div layout:fragment="content">
    <!-- ******Header****** -->
    <header class="header text-center">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <span aria-hidden="true" class="icon_documents_alt icon"></span>
                    <span class="text-highlight">개발</span><span class="text-bold">스터디</span>
                </h1>
            </div><!--//branding-->
            <div class="main-search-box pt-3 pb-4 d-inline-block">
                <form class="form-inline search-form justify-content-center" action="" method="get">

                    <input type="text" placeholder="개발 언어 검색" name="search" class="form-control search-input">

                    <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>

                </form>
            </div>
        </div><!--//container-->
    </header><!--//header-->

    <section class="cards-section text-center">
        <div class="container">
            <h2 class="title">언어별 개발 스터디</h2>
            <div class="intro">
                <p>원하는 개발 언어를 선택해보세요</p>
            </div><!--//intro-->
            <div id="cards-wrapper" class="cards-wrapper row">
                <div class="item item-green col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <i class="icon fa fa-paper-plane"></i>
                        </div><!--//icon-holder-->
                        <h3 class="title">Quick Start</h3>
                        <p class="intro">Demo example, consectetuer adipiscing elit</p>
                        <a class="link" href="/start"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-pink item-2 col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Components</h3>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        <a class="link" href="components.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-blue col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_datareport_alt"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Charts</h3>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        <a class="link" href="charts.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-purple col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_lifesaver"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">FAQs</h3>
                        <p class="intro">Layout for FAQ page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        <a class="link" href="faqs.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-primary col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_genius"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Showcase</h3>
                        <p class="intro">Layout for showcase page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
                        <a class="link" href="showcase.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-orange col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_gift"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">License &amp; Credits</h3>
                        <p class="intro">Layout for license &amp; credits page. Consectetuer adipiscing elit.</p>
                        <a class="link" href="license.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//cards-->
        </div><!--//container-->
    </section><!--//cards-section-->
</div><!--//page-wrapper-->
<!--</body>-->
</html>

