@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
$primary : #435da5;
$danger : #f00;
$warnig : #394739;
$dark : #333;

$light : #f1f1f1;
$primary-light : rgb(166, 182, 224);
$primary-dark : #2f3c5e;


$XL : 1400px;
$LG : 1200px;
$MD : 992px;
$SM : 768px;
$XS : 576px;

$noto-kr : 'Noto Sans KR', sans-serif;
$open-en :  'Open Sans', sans-serif;

$FS: flex-start;
$FE: flex-end;
$ST: stretch;
$SB: space-between;
$SA: space-around;
$SE: space-evenly;
$CT: center;
$LT: left;
$RT: right;
$NW: nowrap;
$col: column;